.task-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.task-modal-container .modal {
    border: 1px var(--text-color) solid;
    background-color: white;
    border-radius: 8px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 25px;
    
    max-height: 600px;
    overflow-y: scroll;
}
.dark .task-modal-container .modal {
    border: 1px var(--dark-sidebar-color) solid;
    background-color: var(--dark-sidebar-color);
}

.task-modal-container .modal .task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 440px;
}

.task-modal-container .modal .task-header h1 {
    font-size: 1.15rem;
}
.dark .task-modal-container .modal .task-header h1 {
    color: var(--text-color);
}

.task-modal-container .modal .task-header .ellipsis {
    position: relative;
}

.task-modal-container .modal .task-header .ellipsis .ellipsis-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    padding: 8px 16px; 
    border-radius: 50%;
    cursor: pointer;
}

.task-modal-container .modal .description {
    width: 440px;
}

.task-modal-container .modal .description p {
    font-size: .8rem;
    font-weight: 500;
    color: var(--dark-sidebar-text-color);
    line-height: 1.6;
}

.task-modal-container .modal .subtasks .subtask-title {
    font-size: .8rem;
    font-weight: 700;
    color: var(--dark-sidebar-text-color);
    margin-bottom: 16px;
}

.task-modal-container .modal .subtasks .subtask-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.task-modal-container .modal .subtasks .subtask-list .subtask {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    padding: 18px;
    background-color: var(--board-bg-color);
    border: 1px var(--sidebar-hover-color) solid;
    border-radius: 5px;
    width: 440px;

    cursor: pointer;
}
.dark .task-modal-container .modal .subtasks .subtask-list .subtask {
    background-color: var(--dark-board-color);
    border: 1px var(--dark-sidebar-color) solid;
    color: var(--text-color);
}

.task-modal-container .modal .subtasks .subtask-list .subtask input {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.task-modal-container .modal .subtasks .subtask-list .subtask input:checked {
    accent-color: var(--button-color);
}

.task-modal-container .modal .subtasks .subtask-list .subtask .unchecked {
    font-weight: 700;
    font-size: .8rem;
}

.task-modal-container .modal .subtasks .subtask-list .subtask .checked {
    font-weight: 700;
    font-size: .8rem;

    color: var(--sidebar-color);
    text-decoration: line-through;
}

.task-modal-container .modal .status {
    display: flex;
    flex-direction: column;
}

.task-modal-container .modal .status .status-title {
    font-weight: 700;
    font-size: .8rem;
    color: var(--dark-sidebar-text-color);
    margin-bottom: 16px;
}

.task-modal-container .modal .status .status-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    padding: 16px;
    border-radius: 5px;
    border: 1px var(--board-bg-color) solid;
    cursor: pointer;
}

.task-modal-container .modal .status .status-content p {
    font-weight: 700;
    font-size: .85rem;
}
.dark .task-modal-container .modal .status .status-content p { 
    color: var(--text-color);
}

.task-modal-container .modal .status ul {
    list-style: none;
    margin-top: 16px;
}

.task-modal-container .modal .status ul li {
    padding: 16px;

    cursor: pointer;
}

.task-modal-container .modal .status ul li p {
    font-weight: 700;
    font-size: .85rem;
    color: var(--sidebar-color);
}
.dark .task-modal-container .modal .status ul li p {
    color: var(--dark-sidebar-text-color);
}

/*********************** ellipsis menu ***************************/

.task-modal-container .ellipsis .ellipsis-menu {
    border: 1px var(--text-color) solid;
    background-color: white;
    box-shadow: 2px 2px 6px var(--card-shadow-color);
    border-radius: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 150px;
    gap: 30px;

    position: absolute;
    top: 135%;
    right: 0%;
}
.dark .task-modal-container .ellipsis-menu {
    border: 1px var(--dark-sidebar-color) solid;
    background-color: var(--dark-sidebar-color);
    box-shadow: 2px 2px 6px var(--dark-board-color);
}

.task-modal-container .ellipsis .ellipsis-menu button {
    border: none;
    background-color: transparent;
    font-size: .85rem;
    cursor: pointer;
}
.task-modal-container .ellipsis .ellipsis-menu .edit {
    color: var(--sidebar-color);
    font-weight: 700;
}
.task-modal-container .ellipsis .ellipsis-menu .delete {
    color: var(--delete-color);
    font-weight: 700;
} 

@media (max-width: 768px) {
    .task-modal-container .modal .task-header {
        width: 270px;
    }
    .task-modal-container .modal .description {
        width: 270px;
    }
    .task-modal-container .modal .subtasks .subtask-list .subtask {
        width: 270px;
    }
    .task-modal-container .modal .status .status-content {
        width: 270px;
    }
}

.task-modal-container .modal::-webkit-scrollbar {
    max-width: 0.45rem; 
}

.task-modal-container .modal::-webkit-scrollbar-track {
    background-color: var(--color-black);
    border-radius: 6px;
    margin: 3px;
}
.task-modal-container .modal::-webkit-scrollbar-thumb {
    background-color: #2D68F0;
    border-radius: 6px;
    margin: 3px;
} 

@media (hover: hover) {
    .task-modal-container .modal .status ul li:hover p {
        color: var(--black-text-color);
    }
    .dark .task-modal-container .modal .status ul li:hover p  {
        color: var(--text-color);
    } 
    .task-modal-container .modal .status .status-content:hover {
        border-color: var(--button-color);
    }
    .task-modal-container .modal .task-header .ellipsis .ellipsis-button:hover {
        background-color: var(--ellipsis-hover-color);
    }
    .task-modal-container .modal .subtasks .subtask-list .subtask:hover {
        background-color: var(--sidebar-hover-color);
    }
    .dark .task-modal-container .modal .subtasks .subtask-list .subtask:hover {
        background-color: var(--dark-sidebar-text-color);
    }
}