.board-container {
    display: flex;
    flex-direction: column;
    margin-left: 285px;
    margin-top: 75px;
    min-height: 100vh;
    min-width: 100vh;
    border-left: 1.5px var(--sidebar-hover-color) solid;
}

.full-screen {
    margin-left: 0;
}

.board-container .board {
    min-height: 100vh;
    background-color: var(--board-bg-color);
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;

    padding: 25px;
    padding-left: 65px;
    min-width: 100%;  
    overflow-x: scroll;
}

.board-container .board li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 290px;
}

.board-container .board li button {
    height: 100%;
    width: 290px;
    border: none;
    background-color: var(--new-column-color);
    font-size: 1.25rem;
    color: var(--sidebar-color);
    cursor: pointer;
}

.board-container .board li button:hover h2 {
    color: var(--button-color);
}

.board-container .board li .add-new-col {
    visibility: hidden;
}
.board-container .board li .status {
    font-weight: 700;
    color: var(--sidebar-color);
    letter-spacing: 1.1px;
    font-size: .9rem;
    width: 290px;
}

.board-container .board li .card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 25px;
    background-color: var(--text-color);
    box-shadow: 2px 2px 20px var(--sidebar-hover-color);
    border-radius: 20px;
    cursor: pointer;
}

.board-container .board li .card .title {
    font-weight: 700;
    font-size: 1rem;
    color: var(--black-text-color);
}

.board-container .board li .card:hover .title {
    color: var(--button-color);
}

.board-container .board li .card .subtask {
    font-weight: 700;
    color: var(--sidebar-color);
    font-size: .85rem;
}

@media only screen and (max-width: 768px) {
    .board-container { 
        margin-left: 0;
    }
}