.header-container header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 16px;
}

.header-container header .left,
.header-container header .right,
.header-container header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.header-container header .logo-container h3 {
    font-size: 2rem;
}

.header-container header .board-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-container header .board-name-container h4 {
    font-size: 1.3rem;
}

.header-container header .board-name-container img {
    height: 7.5px;
    cursor: pointer;
}

.header-container header button {
    border-radius: 15px;
    border: none;
    background-color: var(--button-color);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .5s;
}
.header-container header button:hover {
    background-color: var(--hover-color);
}
.header-container header button p {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 6px 18px;
}

.header-container header .ellipsis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

@media only screen and (min-width: 768px) {
    .header-container header {
        margin: 20px 25px;
    }
    .header-container header button {
        border-radius: 25px;
    }
    .header-container header button p {
        padding: 16px 22px;
    }
    .header-container header .right {
        gap: 20px;
    }
    .header-container header .ellipsis img {
        height: 25px;
    }
}