.sidebar-container {
    color: var(--sidebar-color);
    padding-right: 30px;
    position: fixed;
    left: 0;
    width: 285px;
    bottom: 0;
    top: 75px;
    z-index: 1;

    background-color: var(--text-color);
}

.dark .sidebar-container {
    color: var(--dark-sidebar-text-color);
    background-color: var(--dark-sidebar-color);
}

.sidebar-container .container .summary {
    margin-bottom: 25px;
    margin-top: 28px;
    margin-left: 25px;
}
.sidebar-container .container .summary p {
    font-weight: 700;
    font-size: .85rem;
    letter-spacing: 1.3px;
}

.sidebar-container .container ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    width: 260px; 

    overflow-y: scroll;
    max-height: 390px;
}

.sidebar-container .container ul .board-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 18px;
    padding-left: 35px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

    font-size: 1rem;
    cursor: pointer;
}

.sidebar-container .container .add-board-button button {
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 18px;
    padding-left: 35px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    color: var(--button-color);

    border: none;
    background-color: transparent;

    font-size: 1rem;
    cursor: pointer;
}

.sidebar-container .container .add-board-button button p {
    font-weight: 700;
}

.sidebar-container .container .add-board-button button img {
    filter: invert(56%) sepia(58%) saturate(5507%) hue-rotate(220deg) brightness(88%) contrast(77%); 
}

.sidebar-container .container .add-board-button button:hover {
    background-color: var(--sidebar-hover-color);
}

.sidebar-container .container ul .board-section p {
    font-weight: 700;
}

.sidebar-container .container ul .board-section:hover {
    background-color: var(--sidebar-hover-color);
    color: var(--button-color);
}
.sidebar-container .container ul .board-section:hover img {
    filter: invert(56%) sepia(58%) saturate(5507%) hue-rotate(220deg) brightness(88%) contrast(77%); 
}

.sidebar-container .container ul .active-board {
    background-color: var(--button-color);
    color: var(--text-color);
}
.sidebar-container .container ul .active-board img {
    filter: brightness(2);
}

/****************************** sidebar open / hide *********************************/

.sidebar-container .container .sidebar-hide p {
    color: var(--sidebar-color);
}
.dark .sidebar-container .container .sidebar-hide p {
    color: var(--dark-sidebar-text-color);
}

.sidebar-container .container .sidebar-hide:hover img {
    filter: invert(56%) sepia(58%) saturate(5507%) hue-rotate(220deg) brightness(88%) contrast(77%);
}

.sidebar-container .container .sidebar-hide:hover p {
    color: var(--button-color);
}

.sidebar-container .container .sidebar-hide {
    position: fixed;
    z-index: 1;
    bottom: 5%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 260px; 

    padding: 18px;
    padding-left: 35px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

    cursor: pointer;
}
.sidebar-container .container .sidebar-hide:hover {
    background-color: var(--sidebar-hover-color);
    color: var(--button-color);
}
.sidebar-container .container .sidebar-hide p {
    font-weight: 700;
}

.closed .sidebar-open {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    left: 0;
    padding: 15px;
    padding-left: 25px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: var(--button-color);
    width: 55px;

    cursor: pointer;
}

.closed .sidebar-open:hover {
    background-color: var(--hover-color);
}

/*********************************** switch *****************************/

.sidebar-container .container .switch {
    position: fixed;
    z-index: 1;
    bottom: 15%;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px;

    margin-left: 25px;
    width: 235px;
    border-radius: 12px;

    background-color: var(--board-bg-color);
}
.dark .sidebar-container .container .switch {
    background-color: var(--dark-board-color);
}

.sidebar-container .container .switch .checkbox {
    opacity: 0;
    position: absolute;
}

.sidebar-container .container .switch .checkbox-label {
    background-color: gray;
    display: flex;
    padding: 5px;
    height: 20px;
    width: 42px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.dark .sidebar-container .container .switch .checkbox-label {
    background-color: var(--button-color);
}

.sidebar-container .container .switch .checkbox-label .ball {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 6%;

    transition: transform .2s linear;
}

.sidebar-container .container .switch .checkbox-label .move {
    transform: translateX(22px);
}

.sidebar-container .container ul::-webkit-scrollbar {
    display: none;
}
