@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --button-color: rgb(107, 107, 202);
    --hover-color: rgb(157, 157, 230);
    --text-color: #ffffff;
    --sidebar-color: rgb(123, 120, 120);
    --sidebar-hover-color: rgb(225, 225, 242);
    --new-column-color: rgb(216, 216, 230);
    --board-bg-color: #e4e7ee;
    --black-text-color: black;
    --card-shadow-color: rgb(183, 177, 177);
    --delete-color: #ea5555;
    --delete-hover-color: #b84d4d;
    --cancel-hover-color: #c0c4cb;

    --ellipsis-hover-color: rgba(130, 143, 163, 0.2);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
